.about {
	padding: 0 3rem;
	h1 {
		font-family: Crimson;
		text-transform: uppercase;
		margin-bottom: 0;
		&:last-of-type {
			margin-top: 3rem;
		}
	}
	p {
		font-family: LatoLight;
		line-height: 1.75rem;
		margin-top: .5rem;
	}
}