$sans-light: LatoLight, sans-serif;
$serif: Crimson, serif;

.timeline-filter,
.map-view {
	display: none;
}

.explore {
	margin: 0 1.5rem;
}

.sidebar {
	h1 {
		font-family: $serif;
		font-size: 1.25rem;
		text-transform: uppercase;
	}
	p {
		font-family: $sans-light;
		line-height: 1.5rem;
	}
	ul {
		padding: 0;
	}
}

.search-results {
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: $sans-light;
	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 1rem;
		li {
			display: flex;
			flex-basis: 100%;
			justify-content: space-between;
			border: 1px solid #ccc;
			padding: .25rem;
			margin: .25rem 0;
			font-family: $serif;
			font-size: .75rem;
			text-transform: uppercase;
			height: 4rem;
			div {
				flex-basis: 60%;
				padding: 0 1rem;
				align-self: center;
				text-align: center;
			}
			img {
				align-self: center;
				padding: 0 1rem;
				height: 90%;
			}
		}
	}
}

@media (min-width: 520px) {
	.timeline-filter,
	.map-view {
		display: none;
	}
	
	.explore {
		display: flex;
		.sidebar {
			flex-basis: 30%;
			padding-right: 2rem;
		}
		.main-content {
			flex-basis: 70%;
			.pigment-index {
				height: 70vh;
				overflow: scroll;
			}
		}
	}

}

@media (min-width: 780px) {
	.search-results ul > li {
		flex-basis: 45%;
		margin: .25rem 2.5%;
		div {
			font-size: .75rem;
		}
	}
}
