.show-hide {
	display: flex;
	// justify-content: space-around;
	border-bottom: 1px solid #ccc;
	button {
		background-color: #fff;
		border: none;
		font-family: LatoLight;
		text-align: center;
		text-transform: uppercase;
		padding: .5rem 2.5% .5rem 1rem;
		margin: .5rem .5rem .5rem 2.5%;
		border-right: 1px solid #ccc;
		background-color: #fdfdfd;
		cursor: pointer;
		opacity: .7;
		&:last-of-type {
			border-right: none;
			padding-left: 2.5%;
			margin-left: 0;
		}
		&:hover {
			opacity: 1;
		}
	}
}

#collapse-time,
#collapse-color {
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: LatoLight;
	text-transform: uppercase;
	max-width: 125px;
	cursor: pointer;
}

#collapse-time {
	margin-bottom: 0;
	align-self: center;
}

#collapse-color {
	margin: 0 auto 1rem auto;
}

.filterShow {
	background-color: #fff;
	// border-bottom: 1px solid #ccc;
}

.filters {
	width: 100%;
	height: 0;
	position: absolute;
	z-index: 99;
}

@media (min-width: 600px) {
	#collapse-time-mobile {
		display: none;
	}
}