.show-hide {
	display: flex;
	justify-content: space-around;
	// border-bottom: 1px solid #ccc;
	button {
		background-color: #fff;
		border: none;
		font-family: LatoLight;
		text-transform: uppercase;
		padding: 1rem;
		margin: 0;
		cursor: pointer;
		opacity: .7;
		&:hover {
			opacity: 1;
		}
	}
}

.filterShow {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.filters {
	width: 100%;
	position: absolute;
	z-index: 99;
}

@media (min-width: 600px) {
	#collapse-time-mobile {
		display: none;
	}
}