$grey: #ccc;
$background: #fff;
$sans-light: LatoLight, sans-serif;
$serif: Crimson, serif;

// body {
// 	background-image: url('/assets/background.svg');
// 	background-repeat: repeat;
// }

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin box {
	background-color: $background;
	border: 1px solid $grey;
}

.Landing {
	@include flex-column;
	@include box;
	vertical-align: middle;
	margin: 6rem auto;
	max-width: 650px;
	padding: 2rem;
	
	h1 {
		font-family: $serif;
		font-size: 1.5rem;
	}

	p {
		font-family: $sans-light;
		line-height: 1.5rem;
	}

	button {
		@include box;
		font-family: $sans-light;
		max-width: 6rem;
		margin: 0;
		text-transform: uppercase;
	}

	a {
		align-self: center;
		text-decoration: none;
		color: #777;
	}
}