nav {
	padding: .5rem;
	text-align: center;
	display: flex;
	.active {
		font-family: Lato;
	}
	a {
		padding: .5rem 1rem 0 1rem;
		text-decoration: none;
		height: 2rem;
		text-transform: uppercase;
		font-family: $sans-light;
		opacity: .7;
		&:hover {
			opacity: 1;
		}
	}
	img {
		height: 2rem;
		vertical-align: middle;
		margin-left: 1.5rem;
		opacity: .7;
	}
	#logo {
		padding-left: .25rem;
		font-family: Crimson;
		letter-spacing: 0;
		opacity: .7;
		margin-right: auto;
	}
}

header {
	border-bottom: 1px solid #eee;
	margin-bottom: 3rem;
}

@media (max-width: 430px) {
	#logo {
		display: none;
	}
	nav img {
		margin-right: auto;
	}
}