nav {
	padding: 1rem;
	text-align: center;
	.active {
		font-family: Lato;
	}
	a {
		padding: 1rem;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $sans-light;
		opacity: .7;
		&:hover {
			opacity: 1;
		}
	}
}

header {
	border-bottom: 1px solid #eee;
	margin-bottom: 3rem;
}