.sidebar-sheet {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
	div.sidebar-color {
		height: 1rem;
		width: 175px;
	}
	.basic-info {
		padding-right: 1rem;
		h1 {
			font-family: Crimson;
			text-transform: uppercase;
			font-size: 1.25rem;
			margin-bottom: .25rem;
		}
		ul {
			list-style-type: none;
			padding: 0;
		}
		li {
			opacity: 1;
			font-family: LatoLightItalic;
			line-height: 1.5rem;
			span {
				font-family: Lato;
				text-transform: uppercase;
			}
		}
		button {
			background-color: #fff;
			border: 1px solid #ccc;
			font-family: LatoLight;
			text-transform: uppercase;
			opacity: .7;
			margin: 0 auto;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.pigment-sheet {
	padding: 1rem;
	margin: 0 2.5%;
	display: flex;
	flex-direction: column;
	section {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		h1 {
			font-family: Crimson;
			text-transform: uppercase;
			font-size: 1.25rem;
		}
		div {
			display: flex;
			justify-content: space-around;
			img {
				max-height: 7rem;
				border: .25rem solid #ddd;
				margin-right: 1rem;
			}
			p {
				line-height: 1.5em;
				margin: 0;
			}
		}
	}

	.quote > p {
		font-family: LatoLightItalic;
		text-align: center;
		padding: .5rem;
	}
}

@media (min-width: 600px) {
	.sidebar-sheet {
		flex-basis: 30%;
	}

	.list-view {
		max-height: 70vh;
		overflow: scroll;
	}
}