.pigment-sheet {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	section {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		h1 {
			font-family: Crimson;
			text-transform: uppercase;
			font-size: 1.25rem;
		}
		img {
			width: 100%;
		}
	}
}